@model VisualizarTestesViewModel

@{
	ViewBag.Titulo = "Visualização de Testes";

	NotificacaoViewModel? notificacao = ViewData[nameof(NotificacaoViewModel)] as NotificacaoViewModel;
}

<div class="d-grid d-lg-flex flex-wrap gap-2 w-50 align-items-center">
	<a class="botao px-5" title="Novo Teste" asp-action="Cadastrar">
		<i class="bi bi-file-earmark-plus"></i>
		Novo Teste
	</a>
	<a class="botao botao-outline px-5" title="Voltar para Listagem" asp-controller="Home" asp-action="Index">
		<i class="bi bi-arrow-left"></i>
		Voltar
	</a>
</div>

<hr class="border border-white opacity-25" />

@if (notificacao is not null)
{
	<div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
		<h6>@notificacao.Titulo</h6>
		@notificacao.Mensagem
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
	</div>
}

<div class="row g-2">
    @if (!Model.Registros.Any())
    {
        <p class="fw-semibold mt-3">Ainda não há nenhum teste cadastrado...</p>
    }
    else{
		@foreach (DetalhesTestesViewModel t in Model.Registros)
		{
			<div class="col-12 col-md-5 col-lg-4 col-xl-3 mb-3">
				<div class="card rounded-4 border-0">
					<div class="card-body cor-padrao">
						<div class="d-flex justify-content-between mb-4">
							<p class="card-text mb-1">
								<span class="fw-semibold">@t.NomeDisciplina</span>
							</p>
							<p class="card-text mb-1">
								<span class="fw-semibold">@t.Id.ToString().Substring(0, 8)</span>
							</p>
						</div>
						<p class="card-text mb-1">
							<span class="fw-semibold">Título:</span> @t.Titulo
						</p>
						<p class="card-text mb-1">
							<span class="fw-semibold">Matérias:</span> @t.Materias.Count
						</p>
						<p class="card-text mb-1">
							<span class="fw-semibold">Tipo Teste:</span> @(t.EhProvao ? "Provão" : "Individual")
						</p>
						<span class="d-flex gap-1 justify-content-end">
							<a class="botao rounded-circle" title="Detalhes Teste" asp-action="@(t.EhProvao ? "DetalhesProvao" : "DetalhesTeste")" asp-route-id="@t.Id">
								<i class="bi bi-eye"></i>
							</a> 
							<a class="botao rounded-circle" title="Duplicar Teste" asp-action="Duplicar" asp-route-id="@t.Id">
								<i class="bi bi-copy"></i>
							</a>
							<a class="botao-excluir botao-excluir-outline rounded-circle" title="Excluir Teste" asp-action="Excluir" asp-route-id="@t.Id">
								<i class="bi bi-trash3"></i>
							</a>
						</span>
					</div>
				</div>
			</div>
		}
    }
</div>