@model DetalhesQuestaoViewModel

@{
    ViewBag.Titulo = "Detalhes de Questão";
}

<div class="card rounded-4 border-0">
    <div class="card-body">
        <p class="card-text mb-1">
            <span class="fw-semibold">@Model.Id</span>
        </p>
        <div class="d-flex justify-content-between mb-4">
            <h3>@Model.NomeMateria</h3>
            <h3>@Model.NomeDisciplina</h3>
        </div>
        <p class="card-text mb-1">
            <span class="fw-semibold">Enunciado:</span> @Model.Enunciado
        </p>
    </div>
</div>

<hr class="border border-dark opacity-25" />
<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <div class="card rounded-4 border-0">
            <div class="card-body">
                <h5>Alternativas</h5>

                @if (!Model.Alternativas.Any())
                {
                    <p class="fw-semibold mt-3">Ainda não há nenhuma alternativa para esta questão...</p>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Enunciado</th>
                                <th>Correta</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (AlternativaQuestaoViewModel alternativa in Model.Alternativas)
                            {
                                <tr>
                                    <td>@alternativa.Texto</td>
                                    <td>
                                        <input type="radio" name="alternativaCorreta" @(alternativa.EstaCorreta ? "checked" : "") disabled />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <div class="card rounded-4 border-0">
            <div class="card-body">
                <h5>Testes</h5>

                @if (!Model.Testes.Any())
                {
                    <p class="fw-semibold mt-3">Ainda não há nenhum teste com essa questão...</p>
                }
                else
                {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Série</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TesteQuestaoViewModel teste in Model.Testes)
                        {
                            <tr>
                                <td>@teste.Titulo</td>
                                <td>@teste.Serie</td>
                            </tr>
                        }
                    </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>